@charset "utf-8";

/* 背景色 */
body {
    background-color: 	#5997BC;
}

/* 問題ボード関連 */
#QuestionBoard {
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center;
}

#QuestionBoard img {
    height: 80px;
    width: 800px;
    display: block;
    margin: 0 auto;
}

#QuestionBoard p {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    font-size: 30px;
    padding: 0;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    white-space: nowrap;
}

/* 解答ボード関連 */
.AnswerBoard {
    width: 200px;
    height: 100%;
    position: relative;
}

.AnswerBoard img {
    width: 100%;
}

.AnswerBoard p {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    font-size: 13px;
    padding: 0;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    white-space: nowrap;
}

.BoardContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* 解答ボックス関連 */
#AnswerForm {
    width: 100px;
}