@charset "utf-8";

body {
    background-color: 	#5997BC;
}

#TitleLogo {
    width: 450px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#StartButton {
    width: 150px;
    height: 100%;
    display: block;
    margin: 0 auto;   
}